.mcs-horizontal-example{
  overflow-x: auto;
  white-space: nowrap;
}

.mcs-horizontal-example .item{
  display: inline-block;
}
body {
background-color: #eeeeee;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 150px;
    height: 110px;
    padding-top: 0;
}

